.header{
    width: 100vw;
}

.header_wrapper{
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.header_logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}

.header_logo__text{
    display: flex;
    width: 180px;
    color: var(--primary-text-dark);
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.header_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header_menu__link{
    text-decoration: none;
    color: var(--primary-text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}