.header{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-text-light);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

.header_logo, .header_menu__link {
    text-decoration: none;
    cursor: pointer;
}


.header__second{
    border-top: 2px solid var(--secondary-light);
    width: 100vw;
    display: flex;
}

.header_wrapper_second{
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.header_wrapper{
    padding: 15px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header_logo{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    
}
.a{
    color: #fff;
}

.header_logo__text{
    display: flex;
    width: 180px;
    color: var(--primary-text-dark);
    font-size: 12px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: left;
}

.header_menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.header_menu__link{
    text-decoration: none;
    color: var(--primary-text-dark);
    font-size: 16px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}



@media (min-width: 1024px) and (max-width: 1279px) {
    .header_menu__link{
        text-decoration: none;
        color: var(--primary-text-dark);
        font-size: 12px;
    }
}

@media (max-width: 800px) {
    .header_menu__link{
        text-decoration: none;
        color: var(--primary-text-dark);
        font-size: 12px;
    }

    .header_menu{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .header__second{
        border-top: 2px solid var(--secondary-light);
        /* width: 100vw; */
        display: flex;
        justify-content: center;
    }
    .header_wrapper__mobile{
        padding: 15px 0px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

    }
    .button_menu{
        position: absolute;
        right: 15px; 
    }
    .header__mobile{
        width: 100%;
        background-color: var(--primary-text-light);
        position: fixed;
        top: 0;
        left: 0;
        z-index: 10; 
    }
    .header_wrapper_second{
        justify-content: center;
    }
}