.MenuItem{
    gap: 20px;
    width: 25%;
    height: 200px;
    padding: 42px;
    background-color: var(--primary-blue);
    overflow: hidden;
    border-radius: 30px;
    border: none;
}

.MenuItem_img {
    /* width: 240px;
    height: 180px; */
    margin-left: 45%;
    object-fit: cover;
}
.MenuItem_light {
    gap: 20px;
    width: 27%;
    height: 200px;
    padding: 42px;
    background-color: var(--primary-text-light);
    overflow: hidden;
    border-radius: 30px;
    border: none;
}
.text_dark{
        color: var(--primary-text-dark);
    }


.MenuList{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 24px;
}

@media (min-width: 1280px) and (max-width: 1624px) {
    .MenuItem{
        gap: 20px;
        width: 24%;
        height: 200px;
        padding: 42px;
        border-radius: 25px;
    }

    .MenuItem_light {
        gap: 20px;
        width: 24%;
        height: 200px;
        padding: 42px;
        border-radius: 25px;
    }

}

@media (min-width: 1024px) and (max-width: 1279px) {
    .MenuItem{
        gap: 16px;
        width: 25%;
        height: 165px;
        padding: 32px;
        border-radius: 20px;
    }

    .MenuItem_light {
        gap: 16px;
        width: 25%;
        height: 165px;
        padding: 32px;
        border-radius: 20px;
    }


    .MenuItem_img {
        margin-left: 30%;
        object-fit: cover;
        width: 60% !important;
    }
}


@media (max-width: 1023px) {
    .MenuItem{
        gap: 20px;
        width: 100%;
        height: 150px;
        padding: 32px;
        border-radius: 15px;
    }

    .MenuItem_light {
        gap: 20px;
        width: 100%;
        height: 150px;
        padding: 32px;
        border-radius: 15px;
    }


    .MenuItem_img {
        margin-left: 60%;
        object-fit: cover;
        width: 45% !important;
    }
}


@media (max-width: 800px) {
    .MenuItem{
        gap: 10px;
        width: 100%;
        height: 150px;
        padding: 24px;
        border-radius: 15px;
    }

    .MenuItem_light {
        gap: 10px;
        width: 100%;
        height: 150px;
        padding: 24px;
        border-radius: 15px;
    }

    .MenuItem_img {
        margin-left: 45%;
        object-fit: cover;
        width: 45% !important;
    }
}