.button{
    display: block;
    white-space: nowrap;
    box-sizing: border-box;
    padding: 16px 55px;
    justify-content: center;
    align-items: flex-start;
    border-radius: 15px;
    cursor: pointer;

    font-size: 18px;
    font-weight: 400;
    line-height: 100%;
    text-align: left;
}

.primary{
    color: var(--primary-text-light);
    background-color: var(--primary-blue);
    border: none;
}

.primary_white{
    color: var(--primary-text-dark);
    background-color: var(--primary-text-light);
    border: none;
}

.secondary{
    color: var(--primary-blue);
    border: 1px solid var(--primary-blue);
}


@media (min-width: 1280px) and (max-width: 1727px) {
    .button{
        display: block;
        box-sizing: border-box;
        padding: 12px 30px;
        justify-content: center;
        align-items: flex-start;
        border-radius: 13px;
        cursor: pointer;
    
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .button{
        display: block;
        box-sizing: border-box;
        padding: 12px 30px;
        justify-content: center;
        align-items: flex-start;
        border-radius: 13px;
        cursor: pointer;
    
        font-size: 18px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
    }
}

@media (max-width: 1023px) {
    .button{
        display: block;
        box-sizing:content-box;
        padding: 12px 30px;
        justify-content: center;
        align-items: flex-start;
        border-radius: 13px;
        cursor: pointer;
    
        font-size: 14px;
        font-weight: 400;
        line-height: 100%;
        text-align: left;
    }
}