/* export type HtagTypes_dark = 'h1_dark'| 'h2_dark' | 'h3_dark' | 'h4_dark';
export type HtagTypes_light = 'h1_light'| 'h2_light' | 'h3_light' | 'h4_light'; */

.h1_dark{
    color: var(--primary-text-dark);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h1_light{
    color: var(--primary-text-light);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h2_dark{
    color: var(--primary-text-dark);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h2_light{
    color: var(--primary-text-light);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h3_dark{
    color: var(--primary-text-dark);
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h3_light{
    color: var(--primary-text-light);
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h4_dark{
    color: var(--primary-text-dark);
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.h4_light{
    color: var(--primary-text-light);
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}


@media (min-width: 1280px) and (max-width: 1727px) {
    .h1_dark{
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .h1_dark{
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
    }
}

@media (max-width: 1023px) {
    .h1_dark{
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 22px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 22px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
    }
}