:root{
    --primary-text-dark: #161616;
    --primary-text-light: #ffffff;
    --primary-blue: #1E50FE;
    --primary-light-blue: #C3E0EE;
    --secondary-light: #F8F8F6;
    --secondary-yellow: #FEEB9D;
    --secondary-green: #17BD7F;
    --secondary-red: #FF1083;
}
h1, h2, h3, h4, h5, p, span {
    margin: 0;
}
body{
    font-family: Manrope;
    background-color: var(--secondary-light);
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;
}

.container{
    margin: 0 auto;
    max-width: 1625px;
    width: 1625px;
    display: flex;
    justify-content: center;
    
}

.border-radius{
    border-radius: 30px;
    border:none;
}

.h1_dark{
    color: var(--primary-text-dark);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h1_light{
    color: var(--primary-text-light);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h2_dark{
    color: var(--primary-text-dark);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h2_light{
    color: var(--primary-text-light);
    font-size: 48px;
    font-weight: 400;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h3_dark{
    color: var(--primary-text-dark);
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h3_light{
    color: var(--primary-text-light);
    font-size: 36px;
    font-weight: 500;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: left;
}
.h4_dark{
    color: var(--primary-text-dark);
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}
.h4_light{
    color: var(--primary-text-light);
    font-size: 32px;
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: left;
}



@media (min-width: 1280px) and (max-width: 1624px) {
    .container{
        margin: 0 auto;
        max-width: 1180px;
        /* display: flex;
        justify-content: center; */
    }

    .border-radius{
        border-radius: 25px;

    }

    .h1_dark{
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 48px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 32px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 32px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 28px;
        font-weight: 500;
        line-height: 130%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .container{
        margin: 0 auto;
        max-width: 1000px;
        display: flex;
        justify-content: center;
    }

    .border-radius{
        border-radius: 20px;

    }

    .h1_dark{
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 36px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 28px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 28px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 24px;
        font-weight: 500;
        line-height: 130%;
    }
}


@media (max-width: 1023px) {
    .container{
        margin: 0 auto;
        max-width: 93vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .border-radius{
        border-radius: 15px;

    }
    .h1_dark{
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
    }
    .h1_light{
        font-size: 24px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_dark{
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
    }
    .h2_light{
        font-size: 22px;
        font-weight: 400;
        line-height: 100%;
    }
    .h3_dark{
        font-size: 22px;
        font-weight: 500;
        line-height: 100%;
    }
    .h3_light{
        font-size: 22px;
        font-weight: 500;
        line-height: 100%;
    }
    .h4_dark{
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
    }
    .h4_light{
        font-size: 20px;
        font-weight: 500;
        line-height: 130%;
    }
}


@media (max-width: 800px) {
    .container{
        margin: 0 auto;
        max-width: 93vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .border-radius{
        border-radius: 15px;

    }
}